<a href="https://colab.research.google.com/github/2220142S/Prog2kakushin/blob/main/Work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Excelで打ち込んだ希望シフトから,シフトを組む.
但し下記の条件を満たすこととする.

・全員の出勤回数ができるだけ同じであるとする

・1日に最低3人は必要であるとする

・最終的にシフトを共有したいので,別のExcelファイルを決定シフトとして作成する

In [53]:
!wget "https://docs.google.com/spreadsheets/d/e/2PACX-1vQAnWeE5HYxNOKbSQIAFTDag8-sFXHGfxw4P6CUKCCZUmygC5QL8i7N4X8eaRUgCIzoS7BaqOnOLFoh/pub?gid=529748042&single=true&output=csv" -O '希望シフト.csv'

--2022-12-25 13:04:54--  https://docs.google.com/spreadsheets/d/e/2PACX-1vQAnWeE5HYxNOKbSQIAFTDag8-sFXHGfxw4P6CUKCCZUmygC5QL8i7N4X8eaRUgCIzoS7BaqOnOLFoh/pub?gid=529748042&single=true&output=csv
Resolving docs.google.com (docs.google.com)... 172.253.63.101, 172.253.63.102, 172.253.63.139, ...
Connecting to docs.google.com (docs.google.com)|172.253.63.101|:443... connected.
HTTP request sent, awaiting response... 307 Temporary Redirect
Location: https://doc-0g-14-sheets.googleusercontent.com/pub/8hg3b1ek8ops3o87ml9dh1hpus/oipsi5gkcongke8clgdte9ej1k/1671973490000/117246066510429816848/*/e@2PACX-1vQAnWeE5HYxNOKbSQIAFTDag8-sFXHGfxw4P6CUKCCZUmygC5QL8i7N4X8eaRUgCIzoS7BaqOnOLFoh?gid=529748042&single=true&output=csv [following]
Warning: wildcards not supported in HTTP.
--2022-12-25 13:04:54--  https://doc-0g-14-sheets.googleusercontent.com/pub/8hg3b1ek8ops3o87ml9dh1hpus/oipsi5gkcongke8clgdte9ej1k/1671973490000/117246066510429816848/*/e@2PACX-1vQAnWeE5HYxNOKbSQIAFTDag8-sFXHGfxw4P6CUKCCZUmygC5QL8i7N4X8eaRUgCIzoS7BaqOnOLFoh?gid=529748042&single=true&output=csv
Resolving doc-0g-14-sheets.googleusercontent.com (doc-0g-14-sheets.googleusercontent.com)... 142.251.167.132, 2607:f8b0:4004:c1d::84
Connecting to doc-0g-14-sheets.googleusercontent.com (doc-0g-14-sheets.googleusercontent.com)|142.251.167.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘希望シフト.csv’

希望シフト.csv          [ <=>                ]     231  --.-KB/s    in 0s

2022-12-25 13:04:54 (14.5 MB/s) - ‘希望シフト.csv’ saved [231]

In [71]:
def countfun():
  countmin=[]
  for i in range(0,len(df)):#それぞれの出勤回数を求める
   a=0
   c=0
   df3=dfclt1.iloc[i]
   for s in range(1,len(dfclt1.columns)):
    if df3[s]=='〇':
      a=a+1
   countmin.append(a)
  return countmin

In [72]:
import pandas as pd
df=pd.read_csv('希望シフト.csv')
count=[]
dayc=[]
syukkin=[]
countmin=[]
minindex=[]
dfclt=pd.DataFrame()
for i in range(0,len(df)):#それぞれの希望日数を数える
  a=0
  c=0
  df2=df.iloc[i]
  for s in range(len(df.columns)):
    if df2[s]=='〇':
      a=a+1
  count.append(a)
for s in range(1,len(df.columns)):#各日の希望している人数を数える
  c=0
  for i in range(0,len(df)):
    if df.iloc[i][s]=='〇':
      c+=1
  dayc.append(c)
print(count,dayc)

[10, 5, 6, 5, 7] [5, 3, 3, 3, 3, 4, 3, 3, 3, 3]

In [73]:
if min(dayc)<3:#条件の「1日に最低3人は必要である」より,3人に満たない日を確認する
  x=dayc.index(min(dayc))+1
  print(f'{x}日は{3-min(dayc)}人足りません.')
for i in range(len(dayc)):#条件より,3人しかいない日は出勤者をそのまま確定する
 if dayc[i]==3:
   dfclt[f'{i+1}']=df[f'{i+1}']
   minindex.append(i+1)#確定した日をリストに入れる
for i in range(0,len(df)):#確定した日からそれぞれの出勤回数を求める
  a=0
  c=0
  df3=dfclt.iloc[i]
  for s in range(len(dfclt.columns)):
    if df3[s]=='〇':
      a=a+1
  countmin.append(a)  
print(countmin,minindex)

[8, 3, 4, 4, 5] [2, 3, 4, 5, 7, 8, 9, 10]

In [74]:
dfclt1=pd.DataFrame()
dfclt1=df
for i in range(1,len(df.columns)):
 if i in minindex:#確定した日は飛ばす
   continue
 else:
   countmin=countfun()
   daycount=4
   while daycount>3:
      a=countmin.index(max(countmin))#一番出勤した人を取り上げる
      df4=df.iloc[a]
      if df4[i]=='〇':#一番出勤した人の○を×に変える
        dfclt1.iat[a,i]='×'
      daycount=0
      for s in range(0,len(df)):#一番多い人を×に変えて,iの日が何人いるか調べる
          if dfclt1.iloc[s][i]=='〇':
            daycount+=1     
      countmin[a]=0 #一番多かった人の出勤回数を０回にすることで,３人より多い時でも次に出勤回数が多い人が×になる
dfclt1

  従業員名  1  2  3  4  5  6  7  8  9 10
0    A  ×  〇  〇  〇  〇  ×  〇  〇  〇  〇
1    B  〇  ×  〇  〇  〇  〇  ×  ×  ×  ×
2    C  〇  〇  ×  〇  ×  〇  ×  〇  ×  〇
3    D  〇  ×  〇  ×  〇  ×  〇  ×  〇  ×
4    E  ×  〇  ×  ×  ×  〇  〇  〇  〇  〇

In [75]:
dfclt1.to_csv('確定シフト.csv')#csvファイルに出力する